<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <title>FlyFlex Inventory System</title>
  </head>
  <body>
    <div class="mainContainer">
      <%- include('partials/sidebar') %>
      <div class="content">
        <div class="header"><%- include('partials/searchbar') %></div>
        <div class="dashboard-container">
          <div class="card">
            <div class="left">
              <p>Customers</p>
              <p><%= stats.totalCustomers %></p>
            </div>
            <div class="right">
              <img src="images/icons/user.svg" alt="" />
            </div>
          </div>
          <div class="card">
            <div class="left">
              <p>Total Products</p>
              <p><%= stats.totalProducts %></p>
            </div>
            <div class="right">
              <img src="images/icons/shopping-cart.svg" alt="" />
            </div>
          </div>
          <div class="card">
            <div class="left">
              <p>Orders</p>
              <p><%= stats.totalOrders %></p>
            </div>
            <div class="right">
              <img src="images/icons/truck.svg" alt="" />
            </div>
          </div>
          <div class="card">
            <div class="left">
              <p>Total Sales</p>
              <p>Ksh <%= stats.totalSales %></p>
            </div>
            <div class="right">
              <img src="images/icons/badge-dollar-sign.svg" alt="" />
            </div>
          </div>
          <div class="card">
            <div class="left">
              <p>Top Selling Item</p>
              <p><%= stats.topSellingProduct.name %></p>
            </div>
            <div class="right">
              <img src="images/icons/star.svg" alt="" />
            </div>
          </div>
          <div class="card">
            <div class="left">
              <p>Out Of Stock</p>
              <p><%= stats.totalOutOfstocks %></p>
            </div>
            <div class="right">
              <img src="images/icons/battery-low.svg" alt="" />
            </div>
          </div>
        </div>
        <%- include('./partials/copyright') %>
      </div>
    </div>
  </body>
</html>
