<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/categoryAdd.css" />
    <link rel="stylesheet" href="/styles/tables.css" />
  </head>
  <body>
    <div class="mainContainer">
      <%- include('../partials/sidebar') %>
      <div class="content">
        <div class="header"><%- include('../partials/searchbar') %></div>
        <div class="title">
          <p>PRODUCT LIST</p>
          <a href="/product/addProduct"
            ><button class="productCreate">ADD PRODUCT</button></a
          >
        </div>
        <div class="top">
          <table class="product-table">
            <thead>
              <tr>
                <th>Product Name & Size</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Colour</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% stats.forEach(product => { %>
              <tr class="product-row">
                <td><b><%= product.product_name %></b><br /></td>
                <td>Ksh <%= product.price %></td>
                <td><%= product.stock %> Items Left<br /></td>
                <td><%= product.category_name %></td>
                <td><%= product.color %></td>
                <td><button class="action-btn">View</button></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <%- include('../partials/copyright') %>
      </div>
    </div>
  </body>
</html>
